<div class="d-flex my-3 justify-content-around align-items-center w-100">
  <article class=" text-center">
    <h3>Про компанію</h3>
    <p>
      Компанія спеціалізується на ремонті автоматичних трансмісій, займається "жорсткою реанімацією", навіть
      найскладніших випадків її поломок.
    <p>
    <p>
      ѴТС працює з людьми, які хочуть бути впевнені у своєму авто на всі 100% і готові довірити свій транспорт
      спеціалістам
    </p>
  </article>
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-center">
      <img [src]="'./assets/img/Logo-removebg-preview.png'" alt="logo" class="img-fluid">
    </div>
    <div class="d-flex justify-content-center px-2" style="background-color: rgb(233,116,68); color: #fbfbff">
      <h2 >
        Vinnytsia<br>Transmission<br> Centre
      </h2>
    </div>

  </div>
</div>

