:host {
  flex-basis: 100%;
}


.company-service {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3%;
  padding: 2rem 0;
  background-color: rgb(249 200 70);
}

input {
  background-color: #2d231c;
  color: #fbfbff;
  border-radius: 1rem;
}




@media (min-width: 500px) {
  :host {
    flex-basis: 45%;
    height: 50%;
  }

}

@media (min-width: 725px) {
  :host {
    flex-basis: 30%;
    height: 50%;

  }
}
