<div class="company-service">
  <div class="h-100 w-100 ">
    <img class="img-fluid p-2"
         [src]="service.src"
         [alt]="service.alt"/>
  </div>
  <section class="d-flex flex-column align-items-center text-center justify-content-around py-2">
    <h4>
      {{service.name}}
    </h4>
    <p class="text-center flex-grow-1 w-100" *ngIf="detail">
      {{service.description}}
    </p>
    <div>
      <input type="button" value="{{!detail?'Докладніше':'Згорнути'}}"
             (click)="openDetail()">

    </div>
  </section>


</div>


