:host {
  width: 100%;
  height: 100%;
}


p, h2, h3 {
  color: rgb(249 200 70);
}

p {
  margin: 0.25rem;
  color: inherit;
  font-style: oblique;
  text-indent: 1.5em;
}

.footer__service {
  display: flex;
  flex-direction: column;
}

.mobile__gear {
  display: none;
}

section, a {
  font-size: 1.45em;
}

.show-div {
  display: block;
  background: #0a0908;
}

ul {
  list-style: circle;
}

.footer-service::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.06);
  height: 3px;
  width: 100%;
  position: absolute;
}


.footer-gear:hover {
  animation: rotate-gear 2s;
}

.down {
  animation: rotate__0_180 1s;
  transform: rotateX(180grad);
}

.up {
  animation: rotate__180_0 1s;
  transform: rotateX(0grad);
}

@keyframes rotate-gear {
  0% {
    transform: rotate(180grad);
  }

  100% {
    transform: rotate(0grad);
  }
}


@media screen and (min-width: 725px) {
  .mobile__gear {
    display: flex;
    align-items: center;
    max-width: 100px;
  }

  .footer__service {
    flex-direction: row;
  }

  .footer__company {
    max-width: 40%;
  }

}

@media screen and (min-width: 1000px) {
  .footer__company {
    max-width: 50%;
  }

}

@keyframes rotate__0_180 {
  0% {
    transform: rotate(0grad);
  }

  100% {
    transform: rotateX(180grad);
  }
}

@keyframes rotate__180_0 {
  0% {
    transform: rotateX(180grad);
  }

  100% {
    transform: rotateX(0);
  }
}
