:host {
  width: 100%;
  height: 100%;
}


p, h2, h3 {
  color: rgb(249 200 70);
}

p {
  margin: 0.25rem;
  color: inherit;
  font-style: oblique;
  text-indent: 1.5em;
}

.mobile__gear {
  display: none;
}

section, a {
  font-size: 1.45em;
}

.show-div {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: #0a0908;
  transform: translateY(-40%);
}

ul {
  list-style: circle;
}

.footer-service::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.06);
  height: 3px;
  width: 100%;
  position: absolute;
}

@keyframes rotate-gear {
  0% {
    transform: rotate(180grad);
  }
  25% {
    transform: rotate(135grad);
  }
  50% {
    transform: rotate(90grad);
  }
  75% {
    transform: rotate(45grad);
  }
  100% {
    transform: rotate(0grad);
  }
}

.footer-gear:hover {
  animation: rotate-gear 2s;
}

@media screen and (min-width: 725px) {
  .mobile__gear {
    display: flex;
    align-items: center;
    max-width: 150px;
  }
}


