<div class="d-flex my-3 justify-content-around">
  <article class="w-50 text-center">
    <h3>Про компанію</h3>
    <p>
      Компанія спеціалізується на ремонті автоматичних трансмісій, займається "жорсткою реанімацією", навіть
      найскладніших випадків її поломок.
    <p>
    <p>
      ѴТС працює з людьми, які хочуть бути впевнені у своєму авто на всі 100% і готові довірити свій транспорт
      спеціалістам
    </p>
  </article>
  <div class="d-flex flex-column align-items-center justify-content-around">
    <div>
      <img src="../../../assets/img/Logo-removebg-preview.png" alt="logo" width="80">
    </div>
    <div class="px-4" style="background-color: rgb(233,116,68); color: #fbfbff">
      <h2>
        Vinnytsia Transmission Centre
      </h2>
    </div>

  </div>
</div>

