:host{
  width: 100%;
  height: 100%;
}
.main-slider {
  background-color: #fbfbff;
  flex: 0 0 500px;
}

.main-slider-wrapper {
  height: 100%;
  overflow: hidden;
  margin: 0 0.3rem 0 0.3rem;
  display: flex;

}

.main-service {
  padding: 10px;
  background-color: #2d231c;
  border: 2px solid #f55536;

}

.main__company{
  flex-shrink: 1;
}
