<nav class="nav d-flex justify-content-between px-5 py-2 align-items-center">
  <div>
    <a class="nav-logo" href="#">
      <img src="../../../assets/img/logo.png" alt="logo">
    </a>
  </div>
  <ul class="d-flex gap-5 ">
    <li>
      <a>Послуги</a>
    </li>
    <li>
      <a>Ціни</a>
    </li>
    <li>
      <a>Про сервіс</a>
    </li>
    <li>
      <a>Контакти</a>
    </li>
  </ul>
  <form class="d-flex">
    <p>
      <input type="text" name="search" class="rounded" size="40">
      <input type="image" src="../../../assets/img/search.svg" name="submit" alt="search" class="search-btn">
    </p>
    <button class="rounded form-btn--cons">
      Консультація
    </button>

  </form>

</nav>
