<nav class="nav d-flex justify-content-between px-2 py-2 align-items-sm-stretch h-100 position-relative"
     (mouseleave)="closeDropMenu()">
  <div class="nav-logo">
    <a class="nav-logo" href="/">
      <img src="./assets/img/logo.png" alt="logo">
    </a>
  </div>
  <ul class="nav-menu">
    <li
      (mouseenter)="openDropMenu()"
    >
      <a href="#">Послуги</a>
    </li>
    <li
      (mouseenter)="closeDropMenu()">
      <a routerLink="/price">Ціни</a>
    </li>
    <li>
      <a routerLink="/serviceInfo">Про сервіс</a>
    </li>
    <li>
      <a href="#">Контакти</a>
    </li>
  </ul>
  <app-drop-menu
    [servicesList]="services"
    [hidden]="!isActive"
    (mouseleave)="closeDropMenu()">
  </app-drop-menu>
  <form class="flex-grow-1 d-flex justify-content-end">
    <div class="flex-grow-1 d-flex flex-column justify-content-center">
      <div>
        <input type="text" name="search" class="rounded w-75">
        <input type="image" src="./assets/img/search.svg" name="submit" alt="search" class="search-btn">
      </div>
    </div>
    <button class="rounded form-btn--cons">
      Консультація
    </button>
  </form>

</nav>
