:host {
  width: 100%;
  height: 100%;
  position: relative;
}

nav{
  background-color: #2d231c;
  height: 100%;
  display: grid;
  grid-template-columns:60px 1fr;
  align-items: center;
  justify-items: center;
  align-content: center;
  padding-left: 3%;
  padding-right: 3%;
}

.menu__mobile-btn {
  background-color: #f55536;
  border-radius: 20%;

}

.menu__mobile-btn svg {
  color: white;
  width: 40px;
  height: 40px;
}

form {
  font-size: 1.25em;
  height: 100%;
  width: 100%;
}

.nav__menu {
  width: 80%;
  height: 100vh;
  max-width: 400px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: inherit;
  filter: drop-shadow(0 10px 8px rgba(249, 200, 70, 0.5));
  font-size: 0.8em;
  line-height: 1.45em;
}

.nav__logo {
  flex-basis: 80px;
  background-color: #f55536;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 1.4em;
}

.nav__logo img {
  width: 50px;
}

.nav__content-ul {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.nav__content-ul li {
  flex-basis: 52px;
  font-size: 1.2em;
  position: relative;
  display: flex;
  align-items: center;
}

.nav__content-ul li:before {
  width: 1.4em;
  height: 1.4em;
  content: "";
  margin-right: 3em;
  background-image: url("../../../../../assets/img/gear.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav__content-ul li:first-child a:after {
  content: ">";
  position: absolute;
  right: 2em;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  text-align: center;
}

.nav__content-ul li:not(:last-child):after {
  content: "";
  height: 3px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav__content-li-img {
  width: 100%;
  height: 100%;
}

.nav__content-li-img img {
  width: 1.2em;
  height: 1.2em;
  color: white;
}

.search-btn {
  width: 30px;
  height: 30px;
  transform: translateX(-130%) translateY(25%);
}

.btn--cons {
  display: none;
  background-color: rgb(249 200 70);
  height: 100%;
}

.btn--cons:hover {
  background-color: #f55536;
  color: #fbfbff;
}

.nav-menu {
  display: none;
}


