<div class="position-relative w-100 h-100 ">
  <div class="container p-0 w-100 h-100 position-absolute start-0 top-0"  *ngFor="let s of carouselList; index as i">
    <div [hidden]="!s.active" @slideInOut *ngIf="s.active"
         class="container p-0 w-100 h-100">
      <span class="w-100 h-100">
        <img [src]="s.src" [alt]="s.alt">
        <p class="position-absolute start-50 top-0 text-white">
          {{s.description}}
        </p>
      </span>
    </div>
  </div>

  <ul class="carousel-circle-container">
    <li class="carousel-circle " *ngFor="let s of carouselList; index as i">
      <button type="button"
              [style.background-color]="s.active?'rgb(232,75,10)':'rgba(255,255,255,0.5)'"
              (click)="setActiveImage(i)">
      </button>
    </li>

  </ul>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev"
          (click)="previousSlideImage()">
    <span class="carousel-control-prev-icon orangeButton" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next"
          (click)="nextSlideImage()">
    <span class="carousel-control-next-icon orangeButton" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  <div class="position-absolute bottom-50 start-50">
    <h1 class="text-white translate-middle-x">
      Vinnytsia Transmission Centre
    </h1>
  </div>
</div>

