p {
  margin: 0.25rem;
  color: inherit;
  font-size: 1.2em;
}
.footer-confidentially{
  color: darkgrey;
  text-align: center;
}
address{
  transform: scale(150%);
}
.footer-confidentially p{
  font-size: 1em;
}
