<div class="d-flex justify-content-around py-4"
     [class]="isMobile?'flex-column':'flex-row'">
  <div class="d-flex flex-column align-items-center text-center">
    <div>
      <p class="text-uppercase">
        Слідкуйте за нами в соцмережах
      </p>
    </div>
    <address class="my-3">
      <app-header-social
        [socialCompany]="company.social"
        [bgIsOrange]="false"
      ></app-header-social>
    </address>
  </div>
  <div>
    <section class="footer-confidentially">
      <p>
        2023© Vinnytsia Transmission Centre. Всі права захищені
      </p>
      <p>
        Політика конфедеційності.
      </p>
    </section>
  </div>
</div>

