<div class="footer-service position-relative pt-2">
  <div class="d-flex justify-content-between">
    <div class="w-50 d-flex align-items-center">
      <div>
        <img src="./assets/img/1119298-f9c846.svg" width="128">
      </div>
      <section class="px-2 text-center">
        <p>
          Кваліфікованість та впевненість у результаті є ключовими чеснотами нашої компанії.
        </p>
        <p>
          Ми працюємо не лише з засобом пересування та комфортного життя, а з транспортом, від якого щодня залежить
          життя людини. Тому кожен його елемент має бути виконаний з су- ворим дотриманням всіх вимог.
        </p>
        <p>
          Результат нашої роботи не підводить та не розчаровує, тож кожен знає, що у VTC працю- ють майстри своєї
          справи, на яких можна по- кластись у навіть найскладніших ситуаціях.
        </p>
      </section>
    </div>

    <div class="w-50 d-flex justify-content-around align-items-center">
      <div class="d-flex align-items-center flex-column">
        <div>
          <h3>
            Послуги
          </h3>
        </div>
        <ul>
          <li><a href="">Діагностика</a></li>
          <li><a href="">Додаткові</a></li>
          <li><a href="">Обслуговування</a></li>
          <li><a href="">Ремонт</a></li>
          <li><a href="">Шиномонтаж</a></li>
        </ul>
      </div>
      <div>
        <div class="d-flex align-items-center flex-column">
          <div>
            <h3>
              Недавні записи
            </h3>
          </div>
          <ul>
            <li><a href="">Заміна лобового скла</a></li>
            <li><a href="">Балансування резини</a></li>
            <li><a href="">Ремонт рульових рейок</a></li>
            <li><a href="">Заміна зщеплення</a></li>
            <li><a href="">Захист двигуна</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

