.carousel-circle-container{
  position: absolute;
  left: 50%;
  top: 85%;
  display: flex;
  gap: 10px;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}
.carousel-circle{
  width: 16px;
  height: 16px;
}
.carousel-circle button{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: 0;
}
.carousel-circle button:hover{
  border: 2px;
}
.orangeButton:hover{
 background-color: rgba(232,75,10,0.76);
  border-radius: 50%;
  transform: scale(150%);
}
.currentSlideImage{


}
