a {
  color: inherit;
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

li {
  min-width: 32px;
  text-align: center;
}

.bg-black li:hover {
  transform: scale(200%);
  color: #f55536;
}

.bg-orange li:hover {
  transform: scale(200%);
  color: #fbfbff;
}
