:host {

}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  min-width: 32px;
  text-align: center;
}

.bg-black li:hover {
  transform: scale(200%);
  color: #f55536;
}

.bg-orange li:hover {
  transform: scale(150%);
}

.bg-orange li:hover i {
  color: #f9c846;

}


i {
  transform: scale(142%);
}
