<ul [class]="bgIsOrange?'bg-orange':'bg-black'">
  <li >
    <a [href]=socialCompany.facebook.src ><i [class]="socialCompany.facebook.image"></i></a>
  </li>
  <li>
    <a [href]=socialCompany.instagram.src ><i [class]="socialCompany.instagram.image"></i></a>
  </li>
  <li>
    <a [href]=socialCompany.telegram.src ><i [class]="socialCompany.telegram.image"></i></a>
  </li>
  <li>
    <a [href]=socialCompany.viber.src ><i [class]="socialCompany.viber.image"></i></a>
  </li>
  <li>
    <a [href]=socialCompany.whatsapp.src ><i [class]="socialCompany.whatsapp.image"></i></a>
  </li>
</ul>
