:host {
  min-width: 370px;
  min-height: 100%;
  display: grid;
  grid-template-rows: 100px minmax(calc(100vh - 650px), max-content) 550px;
  grid-template-columns: 1fr;
  row-gap: .1%;
}


header {
  position: sticky;
  top: 0;
  z-index: 2;
  filter: drop-shadow(0 10px 8px rgba(249, 200, 70, 0.5));
  border-bottom: 2px solid #f55536;
  display: grid;
  grid-template-rows: 35px 1fr;
  font-size: 1.2727em;
}


.main-wrapper {
  background: white;
}


.main-wrapper,
.orange__address-wrapper,
.header__nav-line-wrapper,
.footer-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}

footer {
  border-top: 2px solid #f55536;
  display: flex;
  flex-direction: column;

}

footer,
.header__nav-line {
  background-color: #0a0908;
  color: #fbfbff;

}


.orange__address {
  background-color: #f55536;
  color: #fbfbff;
}

