<header>
  <div class="orange__address">
    <div class="orange__address-wrapper">
      <app-address-line></app-address-line>
    </div>
  </div>
  <div class="header__nav-line">
    <div class="header__nav-line-wrapper">
      <app-nav-line></app-nav-line>
    </div>
  </div>
</header>
<main>
  <div class="main-wrapper">
<!--    <router-outlet></router-outlet>-->
  </div>
</main>
<footer>
  <div class="footer-wrapper">
<!--    <app-footer-adress></app-footer-adress>-->
<!--    <app-footer-service></app-footer-service>-->
<!--    <app-footer-social></app-footer-social>-->
  </div>
</footer>


