header, footer {
  /*background-color: rgb(249 200 70);*/
  background-color: #0a0908;
  color: #fbfbff;

}

main {
  width: 100%;
}

.main-wrapper {
  margin-top: 161px;
}

.main-slider {
  padding:0;
  background-color: #fbfbff;
  flex: 0 0 500px;
  width: 100%;

}
.main-slider-wrapper{
  width: auto;
  height: 100%;
  overflow: hidden;
}
.main-service {
  width: 100%;
  background-color: #2d231c;
}
