<div class="container-fluid d-flex flex-column justify-content-between m-0 p-0 min-vh-100">
  <header class="w-100 m-0 p-0 position-sticky top-0 z-2">
    <div class="container d-flex justify-content-between flex-column">
      <app-adress-line></app-adress-line>
      <app-nav-line></app-nav-line>
    </div>
  </header>
  <main class="container-fluid flex-grow-1 px-0 d-flex flex-column justify-content-center">
    <div class="main-layer"></div>
    <div class="container flex-grow-1">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="container-fluid m-0 py-3 px-0">
    <div class="container d-flex flex-column ">
      <div>
        <app-footer-adress></app-footer-adress>
      </div>
      <div>
        <app-footer-service></app-footer-service>
      </div>
      <div>
        <app-footer-social></app-footer-social>
      </div>
    </div>
  </footer>
  <div class="main-layer"></div>
</div>

