
footer,
.header-nav-line {
  /*background-color: rgb(249 200 70);*/
  background-color: #0a0908;
  color: #fbfbff;

}

header {
  box-shadow: 0 4px 10px rgba(249, 200, 70, 0.5);
  border-bottom: 2px solid #f55536;
}


footer {
  border-top: 2px solid #f55536;
}

.orange-address {
  background-color: #f55536;
  color: #fbfbff;
}
