:host {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #2d231c;
  filter: drop-shadow(0 10px 8px rgba(249, 200, 70, 0.5));
}

ul {

  padding-left: 0;
  display: flex;
  flex-direction: column;
  margin-top: 2em;

}

li {
  flex-basis: 52px;
  font-size: 1.2em;
  position: relative;
  display: flex;
  align-items: center;
}

li:before {
  width: 1.4em;
  height: 1.4em;
  content: "";
  margin-right: 3%;
  margin-left: 10%;
  background-image: url("src/assets/img/1119298-f9c846.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


li:not(:last-child):after {
  content: "";
  height: 3px;
  width: calc(80%);
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  left: 10%;
}

li:hover a {
  color: #f55536;
  transform: scale(120%) translateX(1em);
  filter: drop-shadow(0 10px 8px #f55536);
}

li:hover:before {
  animation: rotate-gear 2s;
}

@media (min-width: 725px) {
  :host {
    top: 140%;
    left: -55px;
    height: max-content;
    width: calc(50% + 55px);
  }

  ul {
    padding-left: 0;
    border: 1px solid #e0e0e0;
    border-radius: 0 0 3% 3%;
    margin: 0;
  }

  li {
    padding: 5% 0;
  }


}

@keyframes rotate-gear {
  0% {
    transform: rotate(180grad);
  }
  25% {
    transform: rotate(135grad);
  }
  50% {
    transform: rotate(90grad);
  }
  75% {
    transform: rotate(45grad);
  }
  100% {
    transform: rotate(0grad);
  }
}
