@font-face {
  font-family: Avenir Next Demi;
  src: url("src/assets/font/AvenirNext-DemiBold.ttf") format("truetype");
}

html {
  height: 100%;

}


a {
  text-decoration: none;
  text-decoration-color: inherit;
  color: #fbfbff;
}


ul {
  list-style: none;
}

body {
  font-family: 'Avenir Next Demi', Arial, sans-serif;
  font-size: 11px;
  line-height: 1.35;
  font-weight: bolder;
}


h1, h2, h3, h4, h5 {
  font-family: 'Segoe UI Black', Arial, sans-serif;
  font-weight: bolder;
}


body:before{
  width: 1000vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: url("./assets/img/background.png") center;
  /*background-image:url("./assets/img/background.png");*/
  background-size: 100vw;
  opacity: 0.1;





  /*background: repeating-linear-gradient(190deg, );*/



  content: "";
  z-index: -1;
}
