<div class="footer-contact position-relative">
  <ul class="footer-contact--ul d-grid  py-2">
    <li class="d-flex align-items-center">
      <div class="address-image">
        <img src="./assets/img/icons/telephone.svg">


      </div>
      <div class="px-4 text-center footer-telephone">
        <h5>Зателефонуйте нам</h5>
        <a href="tel:+380979797554">
          <p class="footer-telephone--p">+38(097)97-97-554</p>
        </a>
      </div>
    </li>
    <li class="d-flex align-items-center">
      <div class="address-image">
        <img src="./assets/img/icons/location.svg">
      </div>
      <div class="px-4 text-center footer-address">
        <h5>Адреса</h5>
        <a href="https://goo.gl/maps/vjyVTNyufHLjTx6h6" style="color: inherit; text-decoration: none">
          <p class="footer-address--p">
            м.Вінниця, вул. Енергетична, 3
          </p>
        </a>
      </div>
    </li>
    <li class="d-flex align-items-center">
      <div class="address-image">
        <img src="./assets/img/icons/schedule.svg">
      </div>
      <div class="px-4 text-center footer-schedule">
        <h5>
          Графік
        </h5>
        <p class="footer-schedule--p">
          Пн-Пт: з 09:00 до 18:00
        </p>
      </div>
    </li>
  </ul>
</div>
