:host{
  width: 100%;
  height: 100%;

}

h2, h3, h4, h5 {
  color: rgb(249 200 70);
}

p {
  margin: 0.25rem;
  font-size: 1.7em;
}


.address-image {
  color: rgb(249 200 70);
}

img {
  fill: rgb(249 200 70);
}

.footer-contact::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.06);
  height: 3px;
  width: 100%;
  position: absolute;
}

.footer-contact--ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.footer-telephone--p,
.footer-address--p,
.footer-schedule--p {
  display: none;
  position: absolute;
  width: max-content;

}
.footer-telephone--p{
  left: 0
}

.footer-address--p {
  left: -50%;
}

.footer-schedule--p {
  right: 0;
}

.footer-telephone:hover .footer-telephone--p,
.footer-address:hover .footer-address--p,
.footer-schedule:hover .footer-schedule--p
{
  display: block;
}

